/* BASE
============================================================================ */

body {
    background: linear-gradient(30deg, rgba(11,10,3,1) 0%, rgba(41,37,23,1) 100%);
    color: var(--color-primary);
}

::selection {
    background: var(--color-primary);
    color: var(--color-secondary);
}

.main {
    display: flex;
    min-height: calc(100vh - 50px);
    justify-content: center;
    align-items: center;
}

.title {
    display: inline-flex;
    font-size: 100px;
    font-weight: normal;
    line-height: $line-height-none;
    font-family: $font-family-second;
    margin: 0 0 var(--spacing-medium);
    letter-spacing: -7px;
    text-transform: lowercase;

    @include mq($from: sm) {
        font-size: 150px;
        letter-spacing: -14px;
    }

    @include mq($from: lg) {
        font-size: 200px;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 86px);
    justify-content: center;

    @include mq($from: md) {
        flex-direction: initial;
        height: calc(100vh - 200px);
    }
}

.card-wrapper {
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.moreTitle {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    line-height: 1;
    align-items: center;
    color: var(--color-primary-dark);

    svg {
        fill: var(--color-primary-dark);
        margin-left: var(--spacing-small);
    }
}
