
.logo {
    color: #1e1b10;
    background: var(--color-primary);
    display: inline-block;
    // padding: 20px;
    line-height: 1;
    @include mq($from: sm) {
        margin-right: 20px;
    }

    @include mq($from: md) {
        margin-right: 40px;
    }


    &-1 {
        margin: 10px 10px 15px 10px;
        font-size: 12px;
        font-weight: 500;
    }
    &-2 {
        padding: 0 20px;
        font-size: 46px;
        text-transform: uppercase;
    }
    &-3 {
        padding: 0 20px;
        text-align: center;
    }
    &-4 {
        margin: 20px 10px 10px 10px;
        display: flex;
        justify-content:space-between;
        font-size: 12px;
        font-weight: 500;
    }
}
