  <div class="logo">
            <div class="logo-1">
            0</div>
            <div class="logo-2">
            lix</div>
            <div class="logo-3">
            nihililix</div>

            <div class="logo-4">
            <span>1.4.1.2.1</span><span>&#10006;</span></div>
        </div>
