
.card {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: var(--spacing-medium) var(--spacing-medium) 0;
    transition: all 0.3s;
    display: block;

    &:hover {
        background-color: var(--color-primary-light);
        color: var(--color-secondary);
    }

    &-title {
        font-weight: bold;
        font-size: var(--font-size-large);
        text-transform: uppercase;
    }

    &-subtitle {
        font-weight: bold;

        &::after {
            content: "";
            display: block;
            width: 40%;
            height: 1px;
            background: var(--color-secondary);
            margin: var(--spacing-medium) 0;
        }
    }

    &-text {

    }
    &-link {
        margin-top: var(--spacing-small);
        color: var(--color-primary);
        background: var(--color-secondary);
        padding: 5px 8px;
        display: inline-flex;
    }

    &-info {
        margin: 0 calc(-1 * var(--spacing-medium));
        padding: var(--spacing-small) var(--spacing-medium);
        background-color: var(--color-primary-dark);
        color: var(--color-secondary);
        margin-top: var(--spacing-medium);
        font-size: var(--font-size-small);
    }
}
