

 {# cards #}
        <div class="card-wrapper">
            <div class="container">
                <div class="row">

                    {% embed './cardItem.twig' %}
                        {% block title %}Fractal Cronicles{% endblock %}
                        {% block subtitle %}Tales from the journeys to explore the broken World{% endblock %}
                        {% block text %}
                            Ein Hobbyprojekt was sich mit einer fiktiven Welt im Rahmen des SciFi bewegt.
                            Eine erklärende Enzyklopedie und Informative Ansammlung zu dem Inhalt des Cosmoses.
                            Die Umsetzung erfolgte mit Hilfe eines Content-Managment Systems (kirby) und der eigens entwickelten UI-Library lynnara-kit
                        {% endblock %}
                        {% block year %}2021{% endblock %}
                        {% block link %}fractal-chronicles.de{% endblock %}
                    {% endembed %}

                    {% embed './cardItem.twig' %}
                        {% block title %}Fractal Cronicles: Legends{% endblock %}
                        {% block subtitle %}The Card Game{% endblock %}
                        {% block text %}
                            Aufbauend auf den Cosmoses von Fractal Chronicles, entsteht hier ein Fantasy Kartenspiel, welches Zeitlich bei der Entstehungsgeschichte angesiedelt ist.
                            Ein Deck-Building Kartenspiel...
                            Die Umsetzung entsteht ebenfalls mit den Content-Managment Systems (kirby) und der UI-Library lynnara-kit.
                        {% endblock %}
                        {% block year %}2021{% endblock %}
                        {% block link %}legends.fractal-chronicles.de{% endblock %}
                    {% endembed %}

                    {% embed './cardItem.twig' %}
                        {% block title %}lynnara-kit{% endblock %}
                        {% block subtitle %}UI-Framework / kirby cms kit{% endblock %}
                        {% block text %}
                        Dies ist ein responsives Frontend-Framework mit twig- und CSS-Komponenten
                                    und verschiedenen Code-Snippets und Templates
                        {% endblock %}
                        {% block year %}2021{% endblock %}
                        {% block link %}lynnara.de{% endblock %}
                    {% endembed %}

                </div>
            </div>
        </div>
