<div class="col-12 col-6@md col-4@lg mb--md snap">
    <a href="https://www.{% block link %}{% endblock %}" class="card">
        <div class="card-title">
        {% block title %}{% endblock %}
        </div>
        <div class="card-subtitle">
        {% block subtitle %}{% endblock %}
        </div>
        <div class="card-text">

        {% block text %}{% endblock %}

        </div>
        <div class="card-link">
        {% block link %}{% endblock %}
        </div>
        <div class="card-info">
        Last Update: {% block year %}{% endblock %}
        </div>
    </a>
</div>
