<div class="linklist">
    <a href="mailto:info@nihililix.de" class="linklist-link">
        email
    </a>
    <a href="https://felixhajek.de/" class="linklist-link" target="_blank">
        portfolio
    </a>
    <a href="https://www.instagram.com/nihililix/" class="linklist-link" target="_blank">
        instagram
    </a>
    <a href="https://trakt.tv/users/nihililix" class="linklist-link" target="_blank">
        movie (trakt.tv)
    </a>
    <a href="https://gitlab.com/nihililix" class="linklist-link" target="_blank">
        gitlab
    </a>
</div>
