.linklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    @include mq($from: md) {
        margin-bottom: 0;
        flex-direction: initial;
        height: 100px;
    }

    &-link {
        padding: 12px 16px;
        margin: var(--spacing-tiny);
        font-size: var(--font-size-small);
        text-transform: uppercase;
        letter-spacing: 4px;
        color: var(--color-primary);
        background: transparent;
        border: 1px solid var(--color-primary);

        @include sfxTextBackground;

        @include mq($from: md) {
            padding: 10px 14px;
        }

        &::before,
        &::after {
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
        }

        &:focus,
        &:hover {
            &::before,
            &::after {
                height: 100%;
                width: 100%;
            }
        }
    }
}
