<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-language" content="de">

<title>nihililix</title>
<meta name="keywords" content=""/>
<meta name="description" content="nihililix"/>
<link rel="icon" type="image/png" href="./assets/favicon.ico"/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
