<!DOCTYPE html>
<html lang="de">
<head>

    {% include './partial/meta/meta.twig' %}

</head>
<body>

    <div class="snap">
        <main class="main">
            <div class="wrapper">
                {% include './partial/logo/logo.twig' %}
                <h1 class="title">nihililix</h1>
            </div>
            {% include './partial/linklist/linklist.twig' %}
        </main>
    </div>
    <div class="snap">
        <a href="#projects" class="moreTitle">
            Current Project
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 0c6.623 0 12 5.377 12 12s-5.377 12-12 12-12-5.377-12-12 5.377-12 12-12zm0 1c6.071 0 11 4.929 11 11s-4.929 11-11 11-11-4.929-11-11 4.929-11 11-11zm5.247 8l-5.247 6.44-5.263-6.44-.737.678 6 7.322 6-7.335-.753-.665z"/></svg>
        </a>
        <div id="projects">
        {% include './partial/card/card.twig' %}
        </div>
        <div class="snap">
            {% include './partial/footer/footer.twig' %}
        </div>
    </div>

</body>
</html>
